
ion-toolbar{
    // --background: -webkit-linear-gradient(left, #006174, #00c6ff);
    // height: 30px;
    height: 30px;
    --background: #383838;
    color: #fff;
    }
    ion-title{
        padding: 0px;
        font-size: 15px;
    }
    