<ion-back-button defaultHref="" style="display:inline-block;">
    <ion-icon name="arrow-back"></ion-icon>
</ion-back-button>

<!-- active directive -->

<!-- import { Directive, ElementRef, HostListener } from '@angular/core';

@Directive({
  selector: '[my-active]'
})
export class MyActiveDirective {

  constructor(private _element: ElementRef) {}

  @HostListener('mouseover')
  onMouseOver() {
    this._element.nativeElement.classList.add('active');
  }

  @HostListener('mouseout')
  onMouseOut() {
    this._element.nativeElement.classList.remove('active');
  }
} -->