<ion-page class="ion-page">
    <!-- <common-header [isMenu] = "false"  [showDefaultBackButton]="true" [showSettings]="false" [showLogOut]="false" [showMenu]="false" [title]="'CHANGE PASSWORD'"></common-header> -->
    <ion-content class="transparent">
        <ion-grid size="12" class="ion-no-padding">
            <ion-row class="ion-align-items-center">
               
                    <ion-col size="12">
                            <div class="ion-text-center">
                                <!-- <img [src]="appConfigService.logo" class="sfl-logo"> -->
                                <h1>{{'LOGIN_PAGE.SET_CREDENTIALS' | translate}}</h1>
                                <h5 class="ion-text-center" style="margin-bottom:20px !important">{{'LOGIN_PAGE.ID_VERIFIED' | translate}}</h5>
                            </div>
                        </ion-col>
                    <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2">
                        <form class="ion-margin-top" #editForm="ngForm">
                           
                            <!-- <ion-item class="ion-no-padding transparent" input lines="none">
                            <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{'LOGIN_PAGE.LABEL_USERNAME' | translate}}</ion-label>
                            <ion-input class="" #username="ngModel" name="username" required type="text" [placeholder]=" 'LOGIN_PAGE.ENTER_INPUT' | translate"
                                disabled [(ngModel)]="data.userid" ></ion-input>
                        </ion-item> -->
                            <!-- <div *ngIf="data.isHidden">
                                <ion-item class="ion-no-padding transparent" input lines="none">
                                    <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{'LOGIN_PAGE.LABEL_OLDPASSWORD' | translate}}</ion-label>
                                    <ion-input class="" #oldPw="ngModel" name="oldPw" required type="password" maxlength="50" [placeholder]="'LOGIN_PAGE.ENTER_INPUT' | translate"
                                        [(ngModel)]="data.oldPassword"></ion-input>
                                    <div *ngIf="oldPw?.dirty && oldPw?.invalid" class="ion-no-padding transparent" lines="none">
                                        <div class="errorMsg" *ngIf="oldPw?.errors.required">{{'FORM_ERROR.PASSWORDREQUIRED' | translate}}</div>
                                    </div>
                                </ion-item>

                            </div> -->
                            <ion-item class="ion-no-padding transparent" input lines="none" style="margin-bottom:15px;">
                                <!-- <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{'LOGIN_PAGE.LABEL_NEWPASSWORD' | translate}}</ion-label> -->
                                <ion-input class="" #newPw="ngModel" name="newPw" required type="password" maxlength="50" [placeholder]="'LOGIN_PAGE.LABEL_NEWPASSWORD' | translate"
                                    [(ngModel)]="data.password"></ion-input>
                                <!-- <div *ngIf="newPw?.dirty && newPw?.invalid" class="ion-no-padding transparent" lines="none">
                                    <div class="errorMsg" *ngIf="newPw?.errors.required">{{'FORM_ERROR.PASSWORDREQUIRED' | translate}}</div>
                                </div> -->
                            </ion-item>

                            <ion-item class="ion-no-padding transparent" input lines="none">
                                <!-- <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{'LOGIN_PAGE.LABEL_CONFIRMPASSWORD' | translate}}</ion-label> -->
                                <ion-input class="" #confirmPw="ngModel" name="confirmPw" required type="password" maxlength="50" [placeholder]="'LOGIN_PAGE.LABEL_CONFIRMPASSWORD' | translate"
                                    [(ngModel)]="data.confrimPassword"></ion-input>
                                <!-- <div *ngIf="confirmPw?.dirty && confirmPw?.invalid" class="ion-no-padding transparent" lines="none">
                                    <div class="errorMsg" *ngIf="confirmPw?.errors.required">{{'FORM_ERROR.PASSWORDREQUIRED' | translate}}</div>
                                </div> -->
                            </ion-item>
<div class="ion-text-center">
                            <div style="font-style:italic;margin-top:18px; font-size:13px;" 
                                lines="none">
                                {{'LOGIN_PAGE.PASSWORD_POLI' | translate}}
                            </div>

                            <ion-button [disabled]="!editForm.valid" expand="default" class="ion-margin-top button-default ion-text-capitalize ion-margin-bottom"
                                (click)="onDoneFunc()">{{'LOGIN_PAGE.LABEL_SETPASSWORD' | translate}}</ion-button>
                            </div>
                        </form>
                    </ion-col>

            </ion-row>
        </ion-grid>
    </ion-content>
</ion-page>