.dummyFutureClass{
    color:black;
}
.odd{
    color: #ff4081;
  }
  .even{
    color: #17a2b8;
  }
  .dollar{
    color: gold;
    font-size: 50px;
  }
  .value{
    position: relative;
    font-size: 49px;
    color: #006174;
    bottom: 6px;
  }
  h6{
    font-size: 14px;
    color: white;
  }